@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --color-primary: #477ce2;
  --color-danger: #ff0060;
  --color-success: #1b9c85;
  --color-warning: #f7d060;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-dark: #4b4b4b;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
  background-color: #e2e2e2;
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-weight: 600;
  font-size: 1.4rem;
}

h3 {
  font-weight: 500;
  font-size: 0.87rem;
}

small {
  font-size: 0.76rem;
}

p {
  color: var(--color-dark-variant);
}

b {
  color: var(--color-dark);
}

.text-muted {
  color: var(--color-info-dark);
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}

.success {
  color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}

.logo {
  width: 80%;
}
.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 13rem auto;
}

aside {
  height: 100vh;
}

aside .toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

aside .toggle {
  display: flex;
  justify-content: center;
}

aside .toggle .close {
  display: none;
}

aside .sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  height: 88vh;
  position: relative;
  top: 1.5rem;
  transition: all 0.3s ease;
}

aside .sidebar:hover {
  box-shadow: none;
}

aside .sidebar a {
  display: flex;
  align-items: center;
  color: var(--color-dark);
  height: 3.7rem;
  gap: 1rem;
  position: relative;
  margin-left: 2rem;
  transition: all 0.3s ease;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 0.3s ease;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a.active {
  width: 100%;
  color: var(--color-primary);
  background-color: var(--color-light);
  margin-left: 0;
}

/* aside .sidebar a.active::before {
  content: '';
  width: 6px;
  height: 18px;
  background-color: var(--color-primary);
} */
aside .sidebar a.active::before {
  content: '';
  width: 6px;
  height: 25px;
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

aside .sidebar a.active span {
  color: var(--color-primary);
  margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
  color: var(--color-primary);
}

aside .sidebar a:hover span {
  margin-left: 0.4rem;
}

/* for messages */

/* aside .sidebar .message-count {
  background-color: var(--color-danger);
  padding: 2px 6px;
  color: var(--color-white);
  font-size: 11px;
  border-radius: var(--border-radius-1);
} */

.right-section {
  margin-top: 1.4rem;
}
.right-section .nav {
  display: flex;
  justify-content: end;
  gap: 2rem;
}
.right-section .nav button {
  display: none;
}

.right-section .nav .profile {
  display: flex;
  gap: 1.4rem;
  text-align: right;
}
.right-section .nav .profile .profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.main-container {
  display: grid;
  grid-template-rows: 1fr 10fr;
  /* gap: 1rem; */
}
.main-table {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.heading {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.users-table {
  /* border-radius: 2rem;
  box-shadow: 0px 10px 10px 10px #00000040;
  border: 1px solid; */
}

.line-style {
  border: 0.8px solid #4b4b4b;
  border-radius: 2px;
}

.main-table {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.users-searchbar {
  background-color: white;
  box-shadow: 0px 2px 10px 0px #00000080;
  border-radius: 20px;
  padding: 0.2rem;
}
.container-searchbar {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 0.6rem;
}
.searchbar {
  /* width: 35vw; */
  height: 2.5rem;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0.2rem 0.2rem;
  border-radius: 25px;
  outline: 1px solid #e4e4e4;
  box-shadow: 1px 1px 1px 0px #00000066;
}
.searchbar span {
  padding: 0.4rem 0.4rem;
  color: #9a9a9a;
}
.searchbar-text {
  width: 35vw;
  font-size: 1.1rem;
  padding: 0.4rem 0.4rem;
  border-radius: 25px;
}
.searchbar-text::placeholder {
  color: #9a9a9a;
}
.add-users {
  display: flex;
  justify-content: center;
  background-color: var(--color-primary);
  border-radius: 25px;
}
.add-users-btn {
  width: 8rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  background-color: var(--color-primary);
  cursor: pointer;
  border-radius: 25px;
}

.heading-table {
  display: flex;
  flex-direction: column;
}
.container-heading-table {
  display: flex;
  justify-content: space-between;
}
.heading-table-btns {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.heading-table-btn {
  width: 8rem;
  height: 2.5rem;
  font-weight: 700;
  padding: 0.4rem 0.4rem;
  font-size: 1rem;
  border: 1px solid #929292;
  box-shadow: 1px 1px 1px 0px #00000066;
  border-radius: 20px;
  cursor: pointer;
}
.btn-edit {
  color: black;
  background-color: white;
}
.btn-delete {
  color: white;
  background: #e24747;
}
.heading-table-text {
  display: flex;
  gap: 1rem;
}
.table-text {
  font-size: 1rem;
  font-weight: 600;
  line-height: 3rem;
  color: #4b4b4b;
}
.number-users {
  font-size: 1rem;
  font-weight: 400;
  line-height: 3rem;
  color: #4b4b4b;
}
.line-style-table {
  border: 1px solid #949494;
}
.table-top {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.table-container {
  max-height: 51.2vh;
  overflow-y: auto;
  border-radius: 20px;
  box-shadow: 0px 2px 10px 0px #00000066;
  transition: all 0.3s ease;
}

table {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: left;
  border-spacing: 0;
}
.tbody {
  overflow-y: auto;
}
thead {
  position: sticky;
  top: 0;
  z-index: 1;
}
/* pour que detials et icons soit center */
table thead tr th:last-child {
  text-align: center;
}
table tbody tr td:last-child {
  text-align: center;
}

th {
  width: 5rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 3rem;
  color: #000000;
  border-bottom: 1px solid #949494;
  padding: 0.4rem;
  justify-content: center;
  background-color: #d8d8d8;
}
tr {
  background-color: white;
}
table tbody tr:hover {
  background-color: #e2e2e2;
}
.selected-row {
  background-color: #cccccc;
}
td {
  width: 5rem;
  height: 3.5rem;
  padding: 0.4rem;
  font-size: 1.2rem;
  color: #4b4b4b;
  font-weight: 400;
  border-bottom: 1px solid #949494;
}

th:first-child {
  border-top-left-radius: 20px;
}
th:last-child {
  border-top-right-radius: 20px;
}

/* enlever la ligne du dernier child */
table tbody tr:last-child td {
  border-bottom: none;
}

#checkbox-table-all {
  -webkit-appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  border: 2.5px solid #000000;
  border-radius: 2px;
}
#checkbox-table {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1rem;
  height: 1rem;
  border: 2px solid #4b4b4b;
  border-radius: 2px;
}
#checkbox-table-all:checked {
  background-color: #4b4b4b;
  border: none;
}
#checkbox-table:checked {
  background-color: #4b4b4b;
  border: none;
}
.details-btn {
  background-color: transparent;
  color: #4b4b4b;
  cursor: pointer;
}
.colomn-tags {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 3rem;
  color: #000000;
}
.colomn-tags-name {
  /* width: 5rem; */
  padding: 0.4rem;
  font-size: 1.2rem;
  color: #4b4b4b;
  font-weight: 400;
}
.checkbox-colomn {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-left: 0.8rem;
}
.info-icon {
  font-size: 2.1rem;
  color: #4b4b4b;
}

.active-status {
  color: #49bf20;
}
.inactif-status {
  color: #e24747;
}

/* scrool bare */
::-webkit-scrollbar {
  width: 0;
}

/* pour col roles */
.admin-role {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 1.6rem;
  padding: 0.3rem;
  font-size: 0.9rem;
  color: #ffffff;
  background-color: #545454;
  border-radius: 15px;
}

/* filtres */
.container-filter {
  width: 35vw;
  display: flex;
  align-items: center;
  padding: 0.6rem;
  gap: 3.5rem;
}
.dropbtn-text {
  display: flex;
  gap: 0.2rem;
  padding: 0.6rem;
  align-items: center;
}
.dropbtn {
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 1px 1px 0px #00000066;
  border: 1px solid #e4e4e4;
  cursor: pointer;
}
.dropbtn p {
  font-size: 0.9rem;
  color: #4b4b4b;
  font-weight: 400;
}
.filter-text {
  font-size: 0.9rem;
  color: #000000;
  font-weight: 600;
}

.dropbtn span {
  font-size: 1.6rem;
  /* padding: 0.6rem; */
}
