* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(
    90deg,
    rgba(71, 124, 226, 0.9) 0%,
    rgba(154, 185, 244, 0.9) 100%
  );
  line-height: 1;
  font-weight: 400;
  color: #555;
}
.container {
  padding: 15rem 0;
}

.newpossword-cart {
  max-width: 42rem;
  height: 48rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 3rem;
  box-shadow: 0px 10px 10px 10px #00000040;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heading {
  align-items: center;
  justify-content: center;
}
.heading-primary {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
  color: black;
}
.newpossword-text {
  padding: 0 3rem;
  text-align: center;
}

.newpossword-text p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
}
.newpossword-input {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0.2rem solid #4b4b4b;
  border-radius: 1.5rem;
}
.newpossword-input input {
  width: 27rem;
  height: 1.8rem;
  padding: 2rem;
  border: 0;
  outline: none;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.input-icon {
  margin-right: 2rem;
  font-size: 3.2rem;
}
a.password-icon:link,
a.password-icon:visited {
  color: #4b4b4b;
}

a.password-icon:hover,
a.password-icon:active {
  color: #477ce2;
}
.hidden {
  display: none;
}

/* --------- forgotpassword btn ---------- */

.send-btn {
  width: 20rem;
  height: 4rem;
  background-color: #477ce2;
  border: 2px solid #477ce2;
  border-radius: 6rem;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
}
